/*input:invalid + span:after {
    content: '✖';
    padding-left: 5px;
}

input:valid + span:after {
    content: '✓';
    padding-left: 5px;
}*/

label {
    text-align: center;
    min-width: 120px;
}

form input {
    min-width: 120px;
    text-align: center;
    border: 1px solid black;
    border-radius: 3px;
    margin: 5px auto;
}

button.submit {
    min-width: 120px;
    margin: 10px auto;
    border-radius: 3px;
    background-color: black;
    color: antiquewhite;
}

ul {
    list-style-type: none;
}

/*.delete-item::before {
    content: '✖';
}*/

button.delete-item {
    border: 1px solid red;
    background: none;
    color: red;
    font-size: 0.85rem;
}

.itemDone {
    text-decoration: line-through;
    background: whitesmoke;
    color: gray;
}

input[type=checkbox] {
    vertical-align: middle;
}

